html,body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;

  background-color: lightgray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

